UI/backend/.venv/
UI/frontend/node_modules/
UI/frontend/dist/

perception/.venv/
perception/**/__pycache__/
perception/**/*.egg-info/
.vscode/
.idea/
*.swp
.DS_Store
*.bag
*.ply

segmentation_pipeline/__pycache__
segmentation_pipeline/**/__pycache__
